.header__lang {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
  padding-bottom: 4px;
  display: block;
}

.header__lang:hover {
  opacity: .8;
}

@media screen and (max-width: 425px) {
  .header__lang {
    font-size: 18px;
    line-height: 1.1;
  }
}
