.place__row {
  display: grid;
  grid-template-columns: 42% 45%;
  gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place__row {
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place__row {
    gap: 28px;
    grid-template-columns: repeat(2, 1fr);
  }
}
