.lead {
  margin: 56px auto 92px;
  max-width: 985px;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0 48px;
    margin-top: 48px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    margin-bottom: 64px;
  }
}
