.footer__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
}

.footer__link:hover {
  opacity: .8;
}

@media screen and (max-width: 490px) {
  .footer__link {
    font-size: 24px;
    line-height: 1.08;
  }
}
