.intro {
  margin: 0 auto 92px;
  max-width: 985px;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 525px) {
  .intro {
    padding: 0 16px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin-bottom: 64px;
  }
}
