.place {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  min-height: 585px;
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
    min-height: 565px;
  }
}

@media screen and (max-width: 868px) {
  .place {
    gap: 48px 28px;
    margin-bottom: 73px;
    grid-template-columns: 340px 1fr;
    min-height: 435px;
  }
}

@media screen and (max-width: 668px) {
  .place {
    grid-template-columns: 310px 1fr;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
