.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 24px;
  gap: 14px;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 0 48px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 670px) {
  .footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 490px) {
  .footer {
    gap: 48px;
  }
}

@media screen and (max-width: 425px) {
  .footer {
    padding: 0 16px 24px;
  }
}
